<h4>Formularios <small> Formularios Reactivos</small></h4> <a [routerLink]="[ '/template']">template</a>
<hr>
<form autocomplete="off">
    <div class="row">
        <div class="col-7">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Apellido</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Correo</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">&nbsp;</label>
                <div class="col-sm-10">
                    <button type="button" class="btn btn-outline-primary btn-block w-100">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>